.headerContainer {
  width: 100%;
  height: 10vh;
  display: flex;
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-image: linear-gradient(to bottom, var(--gradient-stops));

  padding: 0 1rem;
  --gradient-from: var(--black);
  --gradient-stops: var(--gradient-from), var(--gradient-to, rgba(0, 0, 0, 0));
  align-items: center;
  justify-content: space-between;
}

.usernameContainer {
  display: flex;
  align-items: center;
}

.userName {
  color: white;
}

.logo {
  cursor: pointer;
}
