.bar {
    border-bottom: 2px solid var(--mainColor);
    padding: 0.5em;
    user-select: none;
    cursor: pointer;
}

.historyText {
    color: var(--textColor);
    width: 100%;
    height: 50%;
    font-size: 1.1em;
}

.spans {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* transform: translateY(-20%); */
}

.spanActive {
    width: 15%;
    text-align: center;
    background-color: var(--availableSeat);
    border-radius: 10px;
    padding: .3rem;
}

.spanHistory2 {
  width: 40%;
  text-align: center;
  background-color: var(--Background);
  border-radius: 10px;
  padding: .3rem;
  color: var(--textColor);
}

.spanDetails {
  width: 40%;
  text-align: center;
  background-color: rgb(110, 62, 13);
  border-radius: 10px;
  padding: .3rem;
  color: var(--textColor);
}

.modal {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
  
    width: 100%;
    height: 100%;
    bottom: 40px;
    background-color: var(--navbarBackground70);
    backdrop-filter: blur(10px);
    top: 0;
  
    outline: none;
    z-index:9999;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .overlay {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  .modalContainer {
    width: 35%;
    height: 65vh;
    background: var(--Background);
    border-radius: 20px;
    padding: 1rem;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 1);
    color: var(--textColor);
  }

  .modalContainer h1 {
    text-align: center;
  }

  .listOfItems {
    width: 100%;
    height: 40vh;
    overflow: auto;
  }

  .modalFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  

@media screen and (max-width: 1300px) and (max-height: 850px) {

}

@media screen and (width: 1024px) and (height: 600px) {

}

@media screen and (min-width: 764px) and (min-height: 1000px) {

}  

@media screen and (max-width: 1050px) and (max-height: 800px) {

}

@media screen and (max-width: 850px) and (max-height: 1250px) {

}

@media screen and (max-width: 768px) and (max-height: 1024px) {

}

@media screen and (max-width: 380px) and (max-height: 790px) {
  .spanActive {
    width: 22%;
    font-size: .8em;
  }
  .spanHistory2 {
    width: 45%;
    font-size: 0.8em;
  }
  .historyText {
    font-size: 0.9em;
  }
  .modalContainer h1 {
    font-size: 1em;
  }
  .extraText {
    font-size: 0.7em;
  }
  .modalFooter {
    flex-direction: column;
  }
  .item { 
    height: 25%;
  }
}

@media screen and (max-width: 450px) and (max-height: 950px) {
  .spanActive {
    width: 22%;
    font-size: 1em;
  }
  .spanHistory2 {
    width: 45%;
    font-size: 0.8em;
  }
  .historyText {
    font-size: 1em;
  }
  .modalContainer {
    width: 97%;
  }
  .modalContainer h1 {
    font-size: 1.4em;
  }
  .extraText {
    font-size: 0.8em;
  }
  .modalFooter {
    flex-direction: column;
  }
}  

@media screen and (max-width: 950px) and (max-height: 450px) {
  .spanActive {
    width: 22%;
    font-size: .8em;
  }
  .spanHistory2 {
    width: 45%;
    font-size: 0.8em;
  }
  .historyText {
    font-size: 1em;
  }
  .modalContainer {
    width: 97%;
    height: 95vh;
  }
  .modalContainer h1 {
    font-size: 1.4em;
  }
  .extraText {
    font-size: 0.8em;
  }
  .listOfItems {
    height: 50vh;
  }
  .item { 
    height: 30%;
  }
  .modalFooter {
    flex-direction: row;
  }
}

@media screen and (max-width: 790px) and (max-height: 380px) {
  .item { 
    height: 30%;
  }
}  