.container {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbarContainer {
  width: 30%;
  border-radius: 50px;
  height: 8%;
  position: fixed;
  bottom: 5%;
  background-color: var(--navbarBackground70);
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 0.5rem;
  user-select: none;
}

.navbarCollection {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 0.5rem;
}

.navbarCircle {
  width: 72px;
  height: 72px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: var(--mainColor);
  border-radius: 50%;
  cursor: pointer;
  box-shadow: inset 7px 7px 7px #a1641d, inset -5px -5px 5px #ffc239;
}

.navbarLink {
  background-color: transparent;
  border: none;
  outline: none;
}

.navbarLabel {
  position: absolute;
  top: -70%;
  left: 0;
  right: 0;
  bottom: 0;
  color: white;
  font-size: 1.3em;
}

.navbarImage {
  cursor: pointer;
}

.openNav {
  width: 70px;
  height: 70px;
  background: var(--mainColor);
  position: fixed;
  left: 95%;
  top: 88%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem;
  z-index: 100;
  cursor: pointer;
}

.openNavElipse {
  width: 10px;
  margin-left: 2px;
  height: 10px;
  background: white;
  border-radius: 50%;
}

@media screen and (max-width: 1300px) and (max-height: 850px) {
  .navbarContainer {
    width: 40%;
  }
  .openNav {
    left: 94%;
    width: 70px;
    height: 70px;
  }
}

@media screen and (min-width: 764px) and (min-height: 1000px) {
  .navbarContainer {
    width: 60%;
    height: 7%;
  }
  .openNav {
    top: 87%;
    left: 90%;
    width: 70px;
    height: 70px;
  }
}

@media screen and (max-width: 1050px) and (max-height: 800px) {
  .navbarContainer {
    width: 45%;
    height: 9%;
  }
  .openNav {
    top: 90%;
    left: 93%;
    width: 70px;
    height: 70px;
  }
}

@media screen and (width: 1024px) and (height: 600px) {
  .navbarContainer {
    width: 45%;
    height: 10%;
  }
  .openNav {
    top: 85%;
    left: 92%;
    width: 70px;
    height: 70px;
  }
}

@media screen and (max-width: 768px) and (max-height: 1124px) {
  .openNav {
    top: 88%;
    left: 90%;
    width: 70px;
    height: 70px;
  }
}

@media screen and (max-width: 450px) and (max-height: 950px) {
  .navbarContainer {
    width: 98%;
    height: 8%;
    bottom: 1%;
  }
  .openNav {
    top: 90%;
    left: 83%;
    width: 60px;
    height: 60px;
    transition: top 0.5s ease-in-out;
  }
  .openNavElipse {
    width: 7px;
    margin-left: 2px;
    height: 7px;
    background: white;
    border-radius: 50%;
  }
  .up {
    top: 84%;
  }
} 

@media screen and (max-width: 380px) and (max-height: 790px) {
  .navbarContainer {
    width: 98%;
    height: 9%;
    bottom: 0.5%;
  }
  .openNav {
    top: 90%;
    left: 83%;
    width: 60px;
    height: 60px;
    transition: top 0.5s ease-in-out;
  }
  .openNavElipse {
    width: 7px;
    margin-left: 2px;
    height: 7px;
    background: white;
    border-radius: 50%;
  }
  .up {
    top: 80%;
  }
} 

@media screen and (max-width: 950px) and (max-height: 450px) {
  .navbarContainer {
    width: 70%;
    height: 15%;
  }
  .openNav {
    top: 82%;
    left: 92%;
    width: 60px;
    height: 60px;
  }
  .openNavElipse {
    width: 7px;
    margin-left: 2px;
    height: 7px;
    background: white;
    border-radius: 50%;
  }
} 

@media screen and (max-width: 790px) and (max-height: 380px) {
  .navbarContainer {
    width: 80%;
    height: 15%;
  }
  .openNav {
    top: 82%;
    left: 90%;
    width: 60px;
    height: 60px;
  }
  .openNavElipse {
    width: 7px;
    margin-left: 2px;
    height: 7px;
    background: white;
    border-radius: 50%;
  }
} 