.bookingHistory {
    width: 25%;
    min-height: 70vh;
    border: 2px solid var(--mainColor);
    background-color: var(--darkBackground70);
    box-shadow: 0 0 5px var(--mainColor), inset 0 0 5px var(--mainColor);
    border-radius: 20px;
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.text {
    text-align: center;
    width: 100%;
    height: 10%;
    color: var(--textColor);
    font-size: 2em;
}

.history {
    width: 100%;
    height: 60vh;
}

.historyList {
    width: 100%;
    height: 100%;
    overflow: auto;
}

.historyItem {
    width: 100%;
    height: 20%;
    border-top: 1px solid var(--mainColor);
    border-bottom: 1px solid var(--mainColor);
    padding: 0rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.historyText {
    color: var(--textColor);
    width: 100%;
    height: 50%;
    font-size: 1.1em;
}

.spans {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* transform: translateY(-20%); */
}

.spanInactive {
    width: 20%;
    text-align: center;
    background-color: var(--errorBackground);
    border-radius: 10px;
    padding: .3rem;
}

.spanActive {
    width: 15%;
    text-align: center;
    background-color: var(--availableSeat);
    border-radius: 10px;
    padding: .3rem;
}

.spanHistory2 {
    width: 40%;
    text-align: center;
    background-color: var(--Background);
    border-radius: 10px;
    padding: .3rem;
    color: var(--textColor);
}

@media screen and (max-width: 1300px) and (max-height: 850px) {
    .text {
        font-size: 1.2em;
    }
    .bookingHistory {
        width: 35%;
        min-height: 80vh;
    }
}

@media screen and (width: 1024px) and (height: 600px) {

}

@media screen and (min-width: 764px) and (min-height: 1000px) {

}  

@media screen and (max-width: 1050px) and (max-height: 800px) {

}

@media screen and (max-width: 850px) and (max-height: 1250px) {
    .text {
        font-size: 1.2em;
    }
    .bookingHistory {
        width: 45%;
        min-height: 10vh;
    }
}

@media screen and (max-width: 768px) and (max-height: 1024px) {

}

@media screen and (max-width: 380px) and (max-height: 790px) {
    .text {
        font-size: 1em;
    }
    .bookingHistory {
        width: 100%;
        min-height: 10vh;
        margin-top: 10px;
    }
}

@media screen and (max-width: 450px) and (max-height: 950px) {
    .text {
        font-size: 1em;
    }
    .bookingHistory {
        width: 100%;
        min-height: 10vh;
        margin-top: 10px;
    }
}  

@media screen and (max-width: 950px) and (max-height: 450px) {
    .text {
        font-size: 1em;
    }
    .bookingHistory {
        height: 100vh;
        margin-top: 10px;
    }
}

@media screen and (max-width: 790px) and (max-height: 380px) {

}  