.body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-bottom: 1rem;
  }
  .body > * {
    flex: 1;
  }
  .body p {
      color: var(--textColor);
      font-size: 1.3em;
  }
  .image {
    width: 100px;
  }
  .buttons > * {
    width: 35px;
    height: 35px;
  }

.itemQuantity {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
}

.toMainColor {
    color: var(--mainColor);
}

.imageCart {
    border-radius: 50%;
    cursor: pointer;
  }