@import url("https://fonts.googleapis.com/css2?family=Gothic+A1&family=Marmelad&family=McLaren&family=Merriweather+Sans:wght@300&display=swap");

.imageBG {
    width: 100%;
    min-height: 100vh;
    background-image: url("https://res.cloudinary.com/dgkdpysp5/image/upload/v1649854497/restaurant-app-images/bookingBG_c7t2yn.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

.container {
    width: 100%;
    min-height: 100vh;
    background-color: var(--navbarBackground70);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
}
  
  .bookingScheme {
    width: 60%;
    height: 90vh;
    border-radius: 10px;
  }
  
.formToColumn {
  width: 100%;
  display: flex;
}

  .bookPlace {
    width: 100%;
    height: 95%;
    background-image: url("https://res.cloudinary.com/dgkdpysp5/image/upload/v1649854594/restaurant-app-images/restaurant2D_mp6izk.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    transform: translateY(4%);
    position: relative;
    overflow: hidden;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.8), 1px 1px 5px rgba(0,0,0,0.2), inset 1px 1px 20px rgba(0,0,0,0.8), -1px -1px 5px rgba(0,0,0,0.8);
  }

  .bookPlace2 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: var(--navbarBackground70);
    z-index: 8000;
  }
  
.displayFlex {
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.text {
  text-align: center;
}

.noClick {
  pointer-events: none;
}

.dateReservation {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selectTable{
  position: absolute;
  width: 70px;
  height: 70px;
  background: #1dac35e5;
  transform: rotateZ(45deg);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Merriweather Sans', sans-serif;
}
.selectTable:nth-child(1) {
  top: 11.7%;
  left: 62.7%;
}
.selectTable:nth-child(2) {
  top: 32%;
  left: 37.9%;
}
.selectTable:nth-child(3) {
  top: 32%;
  left: 50%;
}
.selectTable:nth-child(4) {
  top: 32%;
  left: 62.7%;
}
.selectTable:nth-child(5) {
  top: 52%;
  left: 37.9%;
}
.selectTable:nth-child(6) {
  top: 52%;
  left: 50%;
}
.selectTable:nth-child(7) {
  top: 52%;
  left: 62.7%;
}
.selectTable:nth-child(8) {
  top: 63.2%;
  left: 13.2%;
  transform: rotateZ(-2.2deg);
}
.selectTable:nth-child(9) {
  top: 78.2%;
  left: 24.9%;
  transform: rotateZ(-3deg);
}
.selectTableText {
  background: transparent;
  transform: rotateZ(-50deg);
  font-family: "Poppins", sans-serif;
  color: white;
  opacity: 0.7;
  pointer-events: none;
}
.rotateZ {
  transform: rotateZ(0deg);
}

.historyc {
  width: 100%;
  height: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-5%, 75%);
}

.seatText {
  margin-top: 1em;
  margin-left: 8em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.seatText h3 {
  font-family: "Poppins", sans-serif;
  font-size: 1.5em;
  color: white;
  opacity: 0.5;
}

.taken,
.available,
.selected {
  width: 30px;
  height: 30px;
  margin-right: 0.5em;
  border-radius: 5px;
}

.taken {
  background: #646464;
  pointer-events: none;
}
.available {
  background: #1dac35e5;
}
.selected {
  background: #ff9900c7;
}

.tableSelected {
  background: #ff9900c7;
}
.tableTaken {
  background: #646464;
  pointer-events: none;
}

.bookingForm {
  width: 30%;
  height: 50vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  border: 2px solid var(--mainColor);
  background-color: var(--darkBackground);
  box-shadow: 0 0 5px var(--mainColor), inset 0 0 5px var(--mainColor);
  margin-left: 1em;
  border-radius: 20px;
  overflow: hidden;
}

.bookingInputForm {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* background-color: red; */
}

.bookingInputForm h3 {
  font-family: "Poppins", sans-serif;
  color: white;
  opacity: 0.5;
  width: 35%;
}

.bookingInputDate {
  width: 70%;
  display: flex;
  flex-direction: column;
}

.dayBooking {
  width: 20%;
  margin-left: 1em;
  height: 100%;
  padding: 0.2rem;
  border-radius: 5px;
  outline: none;
  border: 2px solid #ff9900c7;
  color: white;
  background-color:rgb(32, 32, 32);
  font-family: "Poppins", sans-serif;
}

.yearBooking {
  width: 20%;
  margin-left: 1em;
  height: 100%;
  padding: 0.2rem;
  border-radius: 5px;
  outline: none;
  border: 2px solid #ff9900c7;
  color: white;
  background-color:rgb(32, 32, 32);
  font-family: "Poppins", sans-serif;
}

.monthBooking {
  width: 25%;
  margin-left: 1em;
  height: 100%;
  padding: 0.2rem;
  border-radius: 5px;
  outline: none;
  border: 2px solid #ff9900c7;
  color: white;
  background-color:rgb(32, 32, 32);
  font-family: "Poppins", sans-serif;
}

.bookingInput {
  padding: 0.2rem;
  width: 20%;
  border: 2px solid #ff9900c7;
  border-radius: 5px;
  outline: none;
  font-family: "Poppins", sans-serif;
  color: white;
  font-weight: bold;
  background: #1a1a1a;
}

.dayBooking::placeholder,
.yearBooking::placeholder {
  color: white;
  opacity: 0.5;
}

.bookingOrder {
  width: 25%;
  height: 5vh;
  font-family: "Poppins", sans-serif;
  color: black;
  font-weight: bold;
  letter-spacing: 1px;
  background: #ff9900c7;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 1.2em;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mgn {
  width: 25%;
  height: 15vh;
  background: #000;
  transition: 0.3s ease-in-out;
  position: absolute;
  top: 78%;
  left: -50%;
  border-radius: 5px;
  user-select: none;
  text-align: center;
  z-index: 2;
}

.mgnContent {
  width: 100%;
  height: 100%;
  background: transparent;
  padding: 1rem;
  font-family: "Poppins", sans-serif;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(-70%) scale(0.7);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@media screen and (max-width: 1300px) and (max-height: 850px) {
  .bookingInputForm h3 {
    font-size: 0.85em;
  }
  .selectTable{
    width: 50px;
    height: 50px;
  }
  .selectTable:nth-child(1) {
    top: 8.8%;
    left: 62.4%;
  }
  .selectTable:nth-child(2) {
    top: 24.9%;
    left: 37.6%;
  }
  .selectTable:nth-child(3) {
    top: 24.9%;
    left: 49.8%;
  }
  .selectTable:nth-child(4) {
    top: 24.9%;
    left: 62.4%;
  }
  .selectTable:nth-child(5) {
    top: 40.5%;
    left: 37.6%;
  }
  .selectTable:nth-child(6) {
    top: 40.5%;
    left: 49.8%;
  }
  .selectTable:nth-child(7) {
    top: 40.5%;
    left: 62.4%;
  }
  .selectTable:nth-child(8) {
    top: 49.1%;
    left: 13%;
    transform: rotateZ(-2.2deg);
  }
  .selectTable:nth-child(9) {
    top: 61%;
    left: 24.8%;
    transform: rotateZ(-3deg);
  }
  .selectTableText {
    font-size: 1.7em;
  }
}

@media screen and (width: 1024px) and (height: 600px) {
  .bookingScheme {
    width: 60%;
    height: 80vh;
  }
  .bookingForm {
    margin-top: 20px;
    height: 70vh;
  }
  .bookingScheme {
    position: relative;
  }
  .booking-container {
    flex-direction: column;
  }
  .mgn {
    transform: translateY(-150%);
  }
  .selectTable{
    width: 40px;
    height: 40px;
  }
  .selectTable:nth-child(1) {
    top: 10.6%;
    left: 62.7%;
  }
  .selectTable:nth-child(2) {
    top: 29.9%;
    left: 37.7%;
  }
  .selectTable:nth-child(3) {
    top: 29.9%;
    left: 49.8%;
  }
  .selectTable:nth-child(4) {
    top: 29.9%;
    left: 62.4%;
  }
  .selectTable:nth-child(5) {
    top: 48.6%;
    left: 37.7%;
  }
  .selectTable:nth-child(6) {
    top: 48.6%;
    left: 49.8%;
  }
  .selectTable:nth-child(7) {
    top: 48.6%;
    left: 62.4%;
  }
  .selectTable:nth-child(8) {
    top: 59%;
    left: 13%;
    transform: rotateZ(-2.2deg);
  }
  .selectTable:nth-child(9) {
    top: 73%;
    left: 24.8%;
    transform: rotateZ(-3deg);
  }
  .selectTableText {
    font-size: 1.2em;
  }
  .fmm { font-size: .6em; }
}

@media screen and (max-width: 1200px) and (max-height: 850px) {
  .selectTable{
    width: 50px;
    height: 50px;
  }
  .selectTable:nth-child(1) {
    top: 8.4%;
    left: 62.8%;
  }
  .selectTable:nth-child(2) {
    top: 23.4%;
    left: 36.9%;
  }
  .selectTable:nth-child(3) {
    top: 23.4%;
    left: 49.7%;
  }
  .selectTable:nth-child(4) {
    top: 23.4%;
    left: 62.9%;
  }
  .selectTable:nth-child(5) {
    top: 38.1%;
    left: 37%;
  }
  .selectTable:nth-child(6) {
    top: 38.1%;
    left: 49.6%;
  }
  .selectTable:nth-child(7) {
    top: 38.1%;
    left: 63%;
  }
  .selectTable:nth-child(8) {
    top: 46.4%;
    left: 11%;
    transform: rotateZ(-2.2deg);
  }
  .selectTable:nth-child(9) {
    top: 57.4%;
    left: 23.4%;
    transform: rotateZ(-3deg);
  }
  .selectTableText {
    font-size: 1.2em;
  }
}

@media screen and (max-width: 850px) and (max-height: 1250px) {
  .selectTable{
    width: 70px;
    height: 70px;
  }
  .selectTable:nth-child(1) {
    top: 8.4%;
    left: 66.2%;
  }
  .selectTable:nth-child(2) {
    top: 23.4%;
    left: 33.9%;
  }
  .selectTable:nth-child(3) {
    top: 23.4%;
    left: 49.6%;
  }
  .selectTable:nth-child(4) {
    top: 23.4%;
    left: 66.2%;
  }
  .selectTable:nth-child(5) {
    top: 38.1%;
    left: 33.9%;
  }
  .selectTable:nth-child(6) {
    top: 38.1%;
    left: 49.6%;
  }
  .selectTable:nth-child(7) {
    top: 38.1%;
    left: 66.2%;
  }
  .selectTable:nth-child(8) {
    top: 46.4%;
    left: 1.6%;
    transform: rotateZ(-2.2deg);
  }
  .selectTable:nth-child(9) {
    top: 57.6%;
    left: 17%;
    transform: rotateZ(-3deg);
  }
  .selectTableText {
    font-size: 2em;
  }
  .imageBG{ min-height: 120vh; }
  .container {
    flex-direction: column;
    min-height: 120vh;
  }
  .bookingScheme {
    width: 100%;
    height: 90vh;
    transform: translateY(5%);
  }
  .bookingForm {
    width: 70%;
    margin-top: 7em;
  }
}

@media screen and (min-width: 764px) and (min-height: 1000px) {
  .bookingScheme {
    width: 90%;
  }
}

@media screen and (max-width: 1050px) and (max-height: 800px) {
  .selectTable{
    width: 45px;
    height: 45px;
  }
  .selectTable:nth-child(1) {
    top: 8.3%;
    left: 64%;
  }
  .selectTable:nth-child(2) {
    top: 23.4%;
    left: 35.9%;
  }
  .selectTable:nth-child(3) {
    top: 23.4%;
    left: 49.8%;
  }
  .selectTable:nth-child(4) {
    top: 23.4%;
    left: 64%;
  }
  .selectTable:nth-child(5) {
    top: 38.1%;
    left: 35.9%;
  }
  .selectTable:nth-child(6) {
    top: 38.1%;
    left: 49.8%;
  }
  .selectTable:nth-child(7) {
    top: 38.1%;
    left: 64%;
  }
  .selectTable:nth-child(8) {
    top: 46.4%;
    left: 8%;
    transform: rotateZ(-2.2deg);
  }
  .selectTable:nth-child(9) {
    top: 57.5%;
    left: 21.5%;
    transform: rotateZ(-3deg);
  }
  .selectTableText {
    font-size: 1.4em;
  }
  .bookingForm {
    width: 37%;
  }
}

@media screen and (max-width: 450px) and (max-height: 950px) {
  .bookingScheme {
    width: 95%;
    height: 55vh;
    transform: translateY(10%);
  }
  .bookingForm {
    width: 95%;
  }
  .selectTable{
    width: 32px;
    height: 32px;
  }
  .selectTable:nth-child(1) {
    top: 8.5%;
    left: 66.4%;
  }
  .selectTable:nth-child(2) {
    top: 23.6%;
    left: 34.2%;
  }
  .selectTable:nth-child(3) {
    top: 23.6%;
    left: 49.8%;
  }
  .selectTable:nth-child(4) {
    top: 23.6%;
    left: 66.4%;
  }
  .selectTable:nth-child(5) {
    top: 38.3%;
    left: 34.2%;
  }
  .selectTable:nth-child(6) {
    top: 38.3%;
    left: 49.8%;
  }
  .selectTable:nth-child(7) {
    top: 38.1%;
    left: 66.4%;
  }
  .selectTable:nth-child(8) {
    top: 46.5%;
    left: 2.2%;
    transform: rotateZ(-2.2deg);
  }
  .selectTable:nth-child(9) {
    top: 57.6%;
    left: 17.4%;
    transform: rotateZ(-3deg);
  }
  .selectTableText {
    font-size: 1em;
  }
  .historyc {
    width: 90%;
    height: 6%;
  }
  .seatText {
    font-size: .5em;
  }
  .taken, .available, .selected {
    width: 20px;
    height: 20px;
  }
  .bookingForm {
    transform: translateX(-2%);
  }
  .bookingOrder {
    font-size: 1em;
    width: 35%;
  }
}  

@media screen and (max-width: 420px) and (max-height: 790px) {
  .bookingScheme {
    width: 95%;
    height: 70vh;
    transform: translateY(10%);
  }
  .bookingForm {
    width: 95%;
  }
  .selectTable{
    width: 30px;
    height: 30px;
  }
  .selectTable:nth-child(1) {
    top: 8.3%;
    left: 66.6%;
  }
  .selectTable:nth-child(2) {
    top: 23.4%;
    left: 33.8%;
  }
  .selectTable:nth-child(3) {
    top: 23.4%;
    left: 49.8%;
  }
  .selectTable:nth-child(4) {
    top: 23.4%;
    left: 66.6%;
  }
  .selectTable:nth-child(5) {
    top: 38.3%;
    left: 33.8%;
  }
  .selectTable:nth-child(6) {
    top: 38.3%;
    left: 49.8%;
  }
  .selectTable:nth-child(7) {
    top: 38.1%;
    left: 66.6%;
  }
  .selectTable:nth-child(8) {
    top: 46.5%;
    left: 1.2%;
    transform: rotateZ(-2.2deg);
  }
  .selectTable:nth-child(9) {
    top: 57.8%;
    left: 16.8%;
    transform: rotateZ(-3deg);
  }
  .selectTableText {
    font-size: 1em;
  }
  .historyc {
    width: 90%;
    height: 6%;
  }
  .seatText {
    font-size: .5em;
  }
  .taken, .available, .selected {
    width: 20px;
    height: 20px;
  }
  .bookingForm {
    transform: translateX(-2%);
  }
  .bookingOrder {
    font-size: 1em;
    width: 35%;
  }
}

@media screen and (max-width: 950px) and (max-height: 450px) {
  .bookingForm {
    height: 70vh;
  }
  .selectTable{
    width: 35px;
    height: 35px;
  }
  .selectTable:nth-child(1) {
    top: 12.4%;
    left: 62.5%;
  }
  .selectTable:nth-child(2) {
    top: 34.6%;
    left: 37.8%;
  }
  .selectTable:nth-child(3) {
    top: 34.6%;
    left: 49.8%;
  }
  .selectTable:nth-child(4) {
    top: 34.6%;
    left: 62.5%;
  }
  .selectTable:nth-child(5) {
    top: 56.3%;
    left: 37.8%;
  }
  .selectTable:nth-child(6) {
    top: 56.3%;
    left: 49.8%;
  }
  .selectTable:nth-child(7) {
    top: 56.3%;
    left: 62.5%;
  }
  .selectTable:nth-child(8) {
    top: 68.5%;
    left: 13%;
    transform: rotateZ(-2.2deg);
  }
  .selectTable:nth-child(9) {
    top: 84.6%;
    left: 24.8%;
    transform: rotateZ(-3deg);
  }
  .selectTableText {
    font-size: 1em;
  }
  .historyc {
    width: 90%;
    height: 6%;
  }
  .seatText {
    font-size: .5em;
  }
  .taken, .available, .selected {
    width: 20px;
    height: 20px;
  }
  .bookingOrder {
    font-size: .8em;
    width: 30%;
    height: 8vh;
  }
}

@media screen and (max-width: 790px) and (max-height: 420px) {
  .bookingScheme {
    width: 95%;
    height: 120vh;
    transform: translateY(10%);
  }
  .bookingForm {
    width: 95%;
  }
  .selectTable{
    width: 40px;
    height: 40px;
  }
  .selectTable:nth-child(1) {
    top: 11.8%;
    left: 62.5%;
  }
  .selectTable:nth-child(2) {
    top: 33%;
    left: 37.8%;;
  }
  .selectTable:nth-child(3) {
    top: 33%;
    left: 49.8%;
  }
  .selectTable:nth-child(4) {
    top: 33%;
    left: 62.5%;
  }
  .selectTable:nth-child(5) {
    top: 53.5%;
    left: 37.8%;
  }
  .selectTable:nth-child(6) {
    top: 53.5%;
    left: 49.8%;
  }
  .selectTable:nth-child(7) {
    top: 53.5%;
    left: 62.5%;
  }
  .selectTable:nth-child(8) {
    top: 65%;
    left: 13.2%;
    transform: rotateZ(-2.2deg);
  }
  .selectTable:nth-child(9) {
    top: 80.6%;
    left: 24.8%;
    transform: rotateZ(-3deg);
  }
  .selectTableText {
    font-size: 1em;
  }
  .historyc {
    width: 90%;
    height: 6%;
  }
  .seatText {
    font-size: .5em;
  }
  .taken, .available, .selected {
    width: 20px;
    height: 20px;
  }
  .bookingForm {
    transform: translateX(-2%);
  }
  .bookingOrder {
    font-size: 1em;
    width: 20%;
  }
}  