.imageBG {
    width: 100%;
    min-height: 100vh;
    background-image: url("https://res.cloudinary.com/dgkdpysp5/image/upload/v1649854496/restaurant-app-images/contactBG_vodqry.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container {
    width: 100%;
    min-height: 100vh;
    background-color: var(--navbarBackground70);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactForm {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: wrap column;
    color: var(--textColor);
    width: 35%;
    min-height: 85vh;
    background-color: var(--Background);
    border-radius: 20px;
    box-shadow: 1px 1px 10px rgb(0, 0, 0), 1px 1px 10px rgba(0, 0, 0, 0.5);
}


.formWrapper {
    width: 60%;
    height: 10vh;
}

.formWrapperText {
    width: 60%;
    height: 30vh;
}

.formLabel {
    font-family: 'McLaren', cursive;
}

.formInput {
    width: 100%;
    height: 50px;
    border-radius: 20px;
    padding: 1rem;
    color: var(--textColor);
    font-size: 1em;
    border: none;
    background-color: rgb(53, 53, 53);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5), 1px 1px 10px rgba(0, 0, 0, .5);
}

.formInputText {
    width: 100%;
    height: 200px;
    border-radius: 20px;
    padding: 1rem;
    color: var(--textColor);
    font-size: 1.2em;
    border: none;
    resize: none;
    background-color: rgb(53, 53, 53);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5), 1px 1px 10px rgba(0, 0, 0, .5);
}

.formButton {
    width: 25%;
    height: 50px;
    font-family: 'McLaren', cursive;
    font-weight: bold;
    font-size: 1.2em;
    background: var(--mainColor);
    border-radius: 20px;
    border: none;
    outline: none;
    cursor: pointer;
}

@media screen and (max-width: 1300px) and (max-height: 850px) {
    .contactForm {
        width: 50%;
    }
    .title {
        font-size: 1.5em;
    }
    .formLabel {
        font-size: 1em;
        letter-spacing: 1px;
    }
}

@media screen and (width: 1024px) and (height: 600px) {
    .contactForm {
        width: 50%;
    }
    .title {
        font-size: 1.2em;
    }
    .formLabel {
        font-size: .8em;
        letter-spacing: 1px;
    }
    .formInput {
        height: 40px;
    }
    .formInputText {
        height: 140px;
    }
    .formButton {
        height: 40px;
    }
}

@media screen and (min-width: 764px) and (min-height: 1000px) {

}  

@media screen and (max-width: 1050px) and (max-height: 800px) {

}

@media screen and (max-width: 850px) and (max-height: 1250px) {
    .contactForm {
        width: 50%;
        min-height: 20vh;
    }
    .title {
        font-size: 1.2em;
    }
    .formLabel {
        font-size: .8em;
        letter-spacing: 1px;
    }
    .formInput {
        height: 50px;
    }
    .formInputText {
        height: 200px;
    }
    .formButton {
        height: 50px;
    }
}

@media screen and (max-width: 768px) and (max-height: 1024px) {
    
}

@media screen and (max-width: 380px) and (max-height: 790px) {
    .contactForm {
        width: 95%;
        height: 80vh;
    }
    .title {
        font-size: 1em;
    }
    .formLabel {
        font-size: .7em;
        letter-spacing: 1px;
    }
    .formButton {
        height: 40px;
        font-size: 1em;
    }
    .formWrapper {
        height: 15%;
    }
    .formWrapperText {
        height: 45%;
    }
}

@media screen and (max-width: 450px) and (max-height: 950px) {
    .contactForm {
        width: 95%;
        height: 80vh;
    }
    .title {
        font-size: 1em;
    }
    .formLabel {
        font-size: .7em;
        letter-spacing: 1px;
    }
    .formInput {
        height: 50px;
    }
    .formInputText {
        height: 200px;
    }
    .formButton {
        height: 40px;
        font-size: 1em;
    }
}  

@media screen and (max-width: 950px) and (max-height: 450px) {
    .imageBG, .container {
        min-height: 180vh;
    }
    .contactForm {
        width: 95%;
        height: 155vh;
        justify-content: space-evenly;
    }
    .title {
        font-size: 1.5em;
        height: 1px;
    }
    .formLabel {
        font-size: .7em;
        letter-spacing: 1px;
    }
    .formInput {
        height: 50px;
    }
    .formInputText {
        height: 200px;
    }
    .formButton {
        height: 40px;
        font-size: 1em;
    }
    .formWrapper {
        height: 10%;
    }
    .formWrapperText {
        height: 45%;
    }
}

@media screen and (max-width: 790px) and (max-height: 380px) {
    .imageBG, .container {
        min-height: 190vh;
    }
    .contactForm {
        width: 95%;
        height: 155vh;
        justify-content: space-evenly;
    }
    .title {
        font-size: 1em;
        /* height: 1px; */
    }
    .formLabel {
        font-size: .7em;
        letter-spacing: 1px;
    }
    .formInput {
        height: 50px;
    }
    .formInputText {
        height: 200px;
    }
    .formButton {
        height: 40px;
        position: relative;
        font-size: 1em;
    }
    .formWrapper {
        height: 50px;
    }
    .formWrapper {
        height: 20%;
    }
    .formWrapperText {
        height: 45%;
    }
}  