.container {
  width: 100%;
  min-height: 100vh;
  background-image: url("https://res.cloudinary.com/dgkdpysp5/image/upload/v1649854572/restaurant-app-images/galleryBG_wfbaaa.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}

.content {
  width: 100%;
  min-height: 100vh;
  background: var(--navbarBackground70);
  backdrop-filter: blur(14px);
}

.galleryCollection {
  width: 100%;
  height: 90vh;
  position: absolute;
  padding: 1rem;
  justify-items: center;
  top: 10%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 2ch;
  overflow: auto;
}
