html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Gothic+A1&family=Marmelad&family=McLaren&family=Merriweather+Sans:wght@300&display=swap");

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

:root {
  --darkBackground: #171717;
  --darkBackground70: #171717b0;
  --btnBackground: rgba(73, 73, 73, 0.6);
  --navbarBackground: rgba(23, 23, 23, 0.3);
  --mainColor: #ed932b;
  --mainBackground: #2c2c2c;
  --menuBarBackground: rgba(191, 191, 191, 0.4);
  --inputBackground: #444444;
  --availableSeat: rgb(54, 151, 52);
  --takenSeat: rgb(90, 90, 90);
  --errorBackground: rgb(181, 51, 51);
  --loginBackground: rgba(44, 44, 44, 0.8);
  --Background: rgb(44, 44, 44);
  --Background70: rgba(44, 44, 44, .7);
  --mainColor50: rgba(255, 137, 0, 0.5);
  --navbarBackground70: rgba(23, 23, 23, 0.7);
  --textColor: rgb(238, 238, 238);
}
