.imageBackground {
  width: 100%;
  min-height: 100vh;
  background-image: url("https://res.cloudinary.com/dgkdpysp5/image/upload/v1649855065/restaurant-app-images/landing_prznt2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.bannerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  transform: translateY(-50%);
  text-shadow: 4px 4px #00000096;
}

.bannerContainer h2 {
  color: var(--mainColor);
  font-size: 3em;
  line-height: 0;
  font-family: "Gothic A1", sans-serif;
}

.bannerContainer h1 {
  color: white;
  font-size: 7em;
  line-height: 0;
  font-family: "Marmelad", sans-serif;
  font-family: "McLaren", cursive;
  font-weight: 100;
}
.bannerContainer h3 {
  color: white;
  font-size: 3em;
  line-height: 0;
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 100;
}

.buttonsContainer {
  width: 30%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.socialMedia {
  width: 10%;
  height: 40vh;
  position: absolute;
  right: 0;
  top: 55%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

@media screen and (max-width: 1300px) and (max-height: 850px) {
  .bannerContainer h1 {
    width: 100%;
    font-size: 6em;
    text-align: center;
  }
  .bannerContainer h3 {
    width: 100%;
    font-size: 2em;
    text-align: center;
  }
  .buttonsContainer {
    width: 40%;
  }
}

@media screen and (max-width: 1024px) and (max-height: 600px) {
  .bannerContainer h1 {
    width: 100%;
    font-size: 3.5em;
    text-align: center;
  }
  .bannerContainer h2 {
    width: 100%;
    font-size: 2.2em;
    text-align: center;
  }
  .bannerContainer h3 {
    width: 100%;
    font-size: 1.8em;
    text-align: center;
  }
  .buttonsContainer {
    width: 40%;
    min-height: 12vh;
  }
}

@media screen and (min-width: 764px) and (min-height: 1000px) {
  .socialMedia {
    height: 30vh;
    top: 68%;
  }
  .bannerContainer h1 {
    width: 100%;
    font-size: 4.4em;
    text-align: center;
  }
  .bannerContainer h2 {
    width: 100%;
    font-size: 2.8em;
    text-align: center;
  }
  .bannerContainer h3 {
    width: 100%;
    font-size: 1.2em;
    text-align: center;
  }
  .buttonsContainer {
    width: 50%;
  }
}

@media screen and (max-width: 1050px) and (max-height: 800px) {
  .bannerContainer h1 {
    width: 100%;
    font-size: 5em;
    text-align: center;
  }
  .bannerContainer h2 {
    width: 100%;
    font-size: 3em;
    text-align: center;
  }
  .bannerContainer h3 {
    width: 100%;
    font-size: 1.8em;
    text-align: center;
  }
}

@media screen and (max-width: 380px) and (max-height: 790px) {
  .bannerContainer h1 {
    width: 100%;
    font-size: 2.1em;
    text-align: center;
  }
  .bannerContainer h2 {
    width: 100%;
    font-size: 1.7em;
    text-align: center;
  }
  .bannerContainer h3 {
    width: 100%;
    font-size: .6em;
    text-align: center;
  }
  .buttonsContainer {
    width: 80%;
  }
}