.imageBackground {
  width: 100%;
  min-height: 100vh;
  background-image: url("https://res.cloudinary.com/dgkdpysp5/image/upload/v1649855065/restaurant-app-images/landing_prznt2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.bannerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  transform: translateY(-50%);
  text-shadow: 4px 4px #00000096;
}

.bannerContainer h2 {
  color: var(--mainColor);
  font-size: 3em;
  line-height: 0;
  font-family: "Gothic A1", sans-serif;
}

.bannerContainer h1 {
  color: white;
  font-size: 7em;
  line-height: 0;
  font-family: "Marmelad", sans-serif;
  font-family: "McLaren", cursive;
  font-weight: 100;
}
.bannerContainer h3 {
  color: white;
  font-size: 3em;
  line-height: 0;
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 100;
}

.buttonsContainer {
  width: 30%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.socialMedia {
  width: 10%;
  height: 40vh;
  position: absolute;
  right: 0;
  top: 55%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}