.imageBackground {
  width: 100%;
  min-height: 100vh;
  background-image: url("../public/static/landing.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.bannerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  transform: translateY(-50%);
  text-shadow: 4px 4px #00000096;
}

.bannerContainer h2 {
  color: var(--mainColor);
  font-size: 3em;
  line-height: 0;
  font-family: "Gothic A1", sans-serif;
}

.bannerContainer h1 {
  color: white;
  font-size: 7em;
  line-height: 0;
  font-family: "Marmelad", sans-serif;
  font-family: "McLaren", cursive;
  font-weight: 100;
}
.bannerContainer h3 {
  color: white;
  font-size: 3em;
  line-height: 0;
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 100;
}

.buttonsContainer {
  width: 30%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bannerButton {
  width: 45%;
  height: 100%;
  background-color: var(--btnBackground);
  border-radius: 10px;
  outline: none;
  border: none;
  color: white;
  font-size: 2em;
  cursor: pointer;
  backdrop-filter: blur(10px);
  box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.32);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.buttonChangeBG {
  position: absolute;
  width: 400px;
  height: 120px;
  background: var(--mainColor50);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 35%;
}

.buttonText {
  z-index: 555;
  transition: 0.3s ease-in-out;
}

.socialMedia {
  width: 10%;
  height: 40vh;
  position: absolute;
  right: 0;
  top: 55%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.socialMediaCard:nth-child(1) {
  color: white;
  width: 70px;
  height: 70px;
  border-radius: 20px;
  background: var(--darkBackground);
  box-shadow: inset 5px 5px 5px #000000, inset -5px -5px 5px #222222,
    2px 2px 2px var(--mainColor50);
  display: flex;
  justify-content: center;
  align-items: center;
}

.socialMediaCard:nth-child(2) {
  color: white;
  width: 70px;
  height: 70px;
  border-radius: 20px;
  background: var(--darkBackground);
  box-shadow: inset 5px 5px 5px #000000, inset -5px -5px 5px #222222,
    2px 2px 2px var(--mainColor50);
  display: flex;
  justify-content: center;
  align-items: center;
}

.socialMediaCard:nth-child(3) {
  color: white;
  width: 70px;
  height: 70px;
  border-radius: 20px;
  background: var(--darkBackground);
  box-shadow: inset 5px 5px 5px #000000, inset -5px -5px 5px #222222,
    2px 2px 2px var(--mainColor50);
  display: flex;
  justify-content: center;
  align-items: center;
}

.socialMediaCard:nth-child(4) {
  color: white;
  width: 70px;
  height: 70px;
  border-radius: 20px;
  background: var(--darkBackground);
  box-shadow: inset 5px 5px 5px #000000, inset -5px -5px 5px #222222,
    2px 2px 2px var(--mainColor50);
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
