.imageBG {
  width: 100%;
  min-height: 100vh;
  background-image: url("https://res.cloudinary.com/dgkdpysp5/image/upload/v1649854555/restaurant-app-images/menuBG_s45vq2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.container {
  width: 100%;
  min-height: 100vh;
  background-color: var(--navbarBackground70);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow:auto;
}

.categoriesCollections {
  width: 50%;
  height: 6%;
  border-radius: 50px;
  position: fixed;
  top: 2%;
  bottom: 0;
  left: 25%;
  right: 0%;
  background: #bfbfbfd5;
  backdrop-filter: blur(10px);
  display: flex;
  z-index:1;
  align-items: center;
}

.menuCircle {
  width: 55px;
  height: 55px;
  position: absolute;
  left: 0%;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: var(--mainColor);
  border-radius: 50%;
  cursor: pointer;
  box-shadow: inset 7px 7px 7px #a1641d, inset -5px -5px 5px #ffc239;
}

.categories {
  width: 100%;
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
}

.menuNavText {
  position: absolute;
  top: 75%; /* -65% */
  left: 0;
  text-shadow: 2px 2px #00000096;
  color: white;
}

.menu {
  position: absolute;
  width: 100%;
  min-height: 90vh;
  top: 8%;
  padding: 1rem;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.foodCategories {
  width: 90%;
  display: flex;
  flex-direction: column;
}

.collection {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
  gap: 2ch;
  justify-content: center;
  align-items: center;
}

.categoryTitle {
  font-family: "McLaren", cursive;
  color: white;
  font-size: 2em;
  font-weight: 100;
  text-shadow: 2px 2px #00000096;
}

.hey {
  width: 40px;
  height: 40px;
  position: relative;
}

@media screen and (max-width: 1600px) and (max-height: 756px) {
  .menuCircle, .menuNavText {
    display: none;
  }
  .categoriesCollections {
    width: 65%;
    height: 8%;
    left: 20%;
  }
  .collection {
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  }
}  

@media screen and (max-width: 1400px) and (max-height: 950px) {
  .menuCircle, .menuNavText {
    display: none;
  }
}  

@media screen and (max-width: 1300px) and (max-height: 850px) {
  .categoriesCollections {
    width: 65%;
    left: 21%;
  }
  .menuCircle, .menuNavText {
    display: none;
  }
  .categoryTitle {
    font-size: 1.3em;
  }
}

@media screen and (width: 1024px) and (height: 600px) {
  .categoriesCollections {
    width: 85%;
    top: 1%;
    height: 8%;
    left: 1%;
  }
}

@media screen and (min-width: 764px) and (min-height: 1000px) {
  .collection {
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  }
  .categoriesCollections {
    width: 78%;
    left: 1%;
  }
  .hey {
    width: 30px;
    height: 30px;
  }
  .menuCircle, .menuNavText {
    display: none;
  }
}  

@media screen and (max-width: 1050px) and (max-height: 800px) {
  .categoriesCollections {
    width: 85%;
    top: 1%;
    height: 8%;
    left: 1%;
  }
}

@media screen and (max-width: 850px) and (max-height: 1250px) {
  .collection {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }   
}

@media screen and (max-width: 768px) and (max-height: 1024px) {
  .collection {
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  } 
}

@media screen and (max-width: 450px) and (max-height: 950px) {
  .collection {
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  }   
  .categoriesCollections {
    width: 79%;
    height: 6%;
    left: 1%;
  }
  .hey {
    width: 15px;
    height: 15px;
  }
  .menuCircle, .menuNavText {
    display: none;
  }
}  

@media screen and (max-width: 380px) and (max-height: 790px) {
  .collection {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  .categoriesCollections {
    width: 78%;
    left: 1%;
  }
  .hey {
    width: 15px;
    height: 15px;
  }
  .menuCircle, .menuNavText {
    display: none;
  }
}

@media screen and (max-width: 950px) and (max-height: 450px) {
  .collection {
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  }
  .categoriesCollections {
    width: 79%;
    height: 11%;
    left: 1%;
  }
  .hey {
    width: 25px;
    height: 25px;
  }
  .menuCircle, .menuNavText {
    display: none;
  }
}

@media screen and (max-width: 790px) and (max-height: 380px) {
  .collection {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }
  .categoriesCollections {
    width: 79%;
    height: 11%;
    left: 1%;
  }
  .hey {
    width: 25px;
    height: 25px;
  }
  .menuCircle, .menuNavText {
    display: none;
  }
}  