.scheduleImage {
  width: 100%;
  min-height: 100vh;
  background-image: url("https://res.cloudinary.com/dgkdpysp5/image/upload/v1649854597/restaurant-app-images/scheduleBG_rxhrxz.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.scheduleContainer {
  background: var(--navbarBackground70);
  width: 100%;
  min-height: 100vh;
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}

.scheduleTextContainer {
  width: 100%;
  height: 15vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.scheduleTextContent {
  color: white;
  font-family: "Merriweather Sans", sans-serif;
  letter-spacing: 2px;
  text-shadow: 2px 3px #00000067;
}

.scheduleSpan {
  color: var(--mainColor);
}

.calendarContainer {
  width: 100%;
  height: 85vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1ch;
  padding: 1rem;
  align-items: center;
  justify-items: center;
}

.calendarCard {
  width: 180px;
  height: 130px;
  background-color: var(--navbarBackground70);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.calendarCardNow {
  width: 180px;
  height: 130px;
  background-color: var(--mainColor50);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.calendarDay {
  height: 20px;
  color: white;
  font-size: 3em;
  font-family: "Merriweather Sans", sans-serif;
}

.calendarDayName {
  height: 20%;
  color: var(--mainColor);
  font-weight: bold;
}

.calendarDayNameNow {
  height: 80%;
  color: white;
  font-weight: bold;
}

.cardContent {
  z-index: 2;
  position: fixed;
  background: rgba(36, 36, 36, 1);
  top: 50%;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 60%;
  border-radius: 20px;
  padding: 1rem;
  backdrop-filter: blur(10px);
  box-shadow: -7px -7px 7px rgba(0, 0, 0, 0.2),
    15px 15px 15px rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.2) inset -5px -5px 5px rgba(129, 41, 41, 0.2),
    inset 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.overlay {
  z-index: 1;
  position: fixed;
  will-change: opacity;
  top: 0;
  bottom: 0;
  left: 50%;
  background: rgba(29, 29, 29, 0.1);
  backdrop-filter: blur(10px);
  transform: translateX(-50%);
  width: 100%;
}

.table {
  width: 100%;
}

.tr {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: var(--textColor);
}

.th, .td {
  width: 100%;
  border: 1px solid white;
  color: var(--textColor);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1300px) and (max-height: 850px) {
  .scheduleTextContainer {
    font-size: .6em;
  }
  .calendarContainer {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
  .calendarCard, .calendarCardNow {
    width: 150px;
    height: 100px;
  }
  .calendarDay {
    font-size: 2em;
  }
  
  .calendarDayName {
    font-size: 1em;
  }
  
  .calendarDayNameNow {
    font-size: 1em;
  }
}

@media screen and (width: 1024px) and (height: 600px) {

}

@media screen and (min-width: 764px) and (min-height: 1000px) {

}  

@media screen and (max-width: 1050px) and (max-height: 800px) {
  .scheduleTextContainer {
    font-size: .6em;
  }
  .calendarContainer {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
  .calendarCard, .calendarCardNow {
    width: 150px;
    height: 100px;
  }
  .calendarDay {
    font-size: 2em;
  }
  
  .calendarDayName {
    font-size: 1em;
  }
  
  .calendarDayNameNow {
    font-size: 1em;
  }
}

@media screen and (max-width: 850px) and (max-height: 1250px) {
  .scheduleTextContainer {
    font-size: .6em;
  }
  .calendarContainer {
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  }
  .calendarCard, .calendarCardNow {
    width: 150px;
    height: 100px;
  }
  .calendarDay {
    font-size: 2em;
  }
  
  .calendarDayName {
    font-size: 1em;
  }
  
  .calendarDayNameNow {
    font-size: 1em;
  }
}

@media screen and (max-width: 768px) and (max-height: 1024px) {
  .scheduleTextContainer {
    font-size: 1em;
  }
  .calendarContainer {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
  .calendarCard, .calendarCardNow {
    width: 150px;
    height: 100px;
  }
  .calendarDay {
    font-size: 2em;
  }
  
  .calendarDayName {
    font-size: 1em;
  }
  
  .calendarDayNameNow {
    font-size: 1em;
  }
}

@media screen and (max-width: 380px) and (max-height: 790px) {
  .scheduleTextContainer {
    font-size: .6em;
  }
  .calendarContainer {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
  .calendarCard, .calendarCardNow {
    width: 150px;
    height: 100px;
  }
  .calendarDay {
    font-size: 2em;
  }
  
  .calendarDayName {
    font-size: 1em;
  }
  
  .calendarDayNameNow {
    font-size: 1em;
  }
}

@media screen and (max-width: 450px) and (max-height: 950px) {
  .scheduleTextContainer {
    font-size: .6em;
  }
  .calendarContainer {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
  .calendarCard, .calendarCardNow {
    width: 150px;
    height: 100px;
  }
  .calendarDay {
    font-size: 2em;
  }
  
  .calendarDayName {
    font-size: 1em;
  }
  
  .calendarDayNameNow {
    font-size: 1em;
  }
}  

@media screen and (max-width: 950px) and (max-height: 450px) {
  .scheduleTextContainer {
    font-size: .6em;
  }
  .calendarContainer {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
  .calendarCard, .calendarCardNow {
    width: 150px;
    height: 100px;
  }
  .calendarDay {
    font-size: 2em;
  }
  
  .calendarDayName {
    font-size: 1em;
  }
  
  .calendarDayNameNow {
    font-size: 1em;
  }
}

@media screen and (max-width: 790px) and (max-height: 380px) {
  .scheduleTextContainer {
    font-size: .6em;
  }
  .calendarContainer {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
  .calendarCard, .calendarCardNow {
    width: 150px;
    height: 100px;
  }
  .calendarDay {
    font-size: 2em;
  }
  
  .calendarDayName {
    font-size: 1em;
  }
  
  .calendarDayNameNow {
    font-size: 1em;
  }
}  